Spudy.xcworkspace/
Pods/Pods.xcodeproj/xcuserdata/
Pods/Pods.xcodeproj/project.pbxproj
Spudy/.DS_Store
.DS_Store
Spudy.xcodeproj/project.xcworkspace/xcuserdata/
Spudy.xcodeproj/project.pbxproj
Podfile
Podfile.lock
Spudy/GoogleService-Info.plist
Pods/Manifest.lock
Spudy.xcodeproj/xcuserdata/
Spudy.xcworkspace/xcuserdata/