Spudy.xcworkspace/
Pods/Pods.xcodeproj/xcuserdata/
Pods/Pods.xcodeproj/project.pbxproj
Spudy/.DS_Store
.DS_Store
Spudy.xcodeproj/project.xcworkspace/xcuserdata/
Spudy.xcodeproj/project.pbxproj
Spudy.xcodeproj/xcuserdata/
Spudy.xcworkspace/xcuserdata/
Podfile
Podfile.lock
Spudy/GoogleService-Info.plist
Pods/Manifest.lock
Pods/Target Support Files/
Pods/Firebase/CoreOnly/NOTICES