Pods/Pods.xcodeproj/xcuserdata/
Spudy/.DS_Store
.DS_Store
Spudy.xcodeproj/project.xcworkspace/xcuserdata/
Spudy.xcodeproj/xcuserdata/
Spudy.xcworkspace/xcuserdata/
Pods/Target Support Files/
Pods/Firebase/CoreOnly/NOTICES